@media screen and (max-width: 800px) {

  /* Main Content CSS codes */
  .main_content {
    width: 87%;
    height: auto;
    flex-direction: column;
  }

  .img_box {
    width: 100%;
  }

  .img_box img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }

  .info_box {
    width: 100%;
    padding: 0 28px;
  }

  .text {
    padding: 40px 0px;
    margin-bottom: 0px;
  }

  .text h1 {
    margin-bottom: 20px;
    font-size: 21px;
  }

  .text p {
    padding-right: 25px;

  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 30px 0;
    position: relative;
  }

  .michella_share {
    width: 15%;
  }

}